//
//  base.xcconfig
//  HDiary
//
//  Created by tigerguo on 2023/10/22.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

MARKETING_VERSION = 1.14
CURRENT_PROJECT_VERSION = 1
DEVELOPMENT_TEAM = F29WG8477A
CODE_SIGN_STYLE = Automatic
GENERATE_INFOPLIST_FILE = YES
IPHONEOS_DEPLOYMENT_TARGET = 17.0
SWIFT_VERSION = 5.0
TARGETED_DEVICE_FAMILY = 1,2
