// Debug / Release settings are inherited from the project configuration.
#include "./base.xcconfig"

ASSETCATALOG_COMPILER_GLOBAL_ACCENT_COLOR_NAME = AccentColor
GENERATE_INFOPLIST_FILE = YES
INFOPLIST_KEY_UIApplicationSceneManifest_Generation = YES
INFOPLIST_KEY_UILaunchScreen_Generation = YES
INFOPLIST_KEY_UIStatusBarHidden = YES
PRODUCT_BUNDLE_IDENTIFIER = com.tiger.suzhou.HDiarySnapshotHost
PRODUCT_NAME = $(TARGET_NAME)
SDKROOT = iphoneos
SUPPORTED_PLATFORMS = iphoneos iphonesimulator
